@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


body {
  width: 100%;
  /* border: 2px solid black; */
  background-color: rgba(107, 98, 98,0.4);
  /* height: 100vh; */
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center; */
  
}

.parent{
  /* border: 2px solid red; */
  width:100%;
  
}

.heading{
  width: 100%;
  background-color: rgb(139, 108, 108);
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid brown; */
}

.cardParent{
  width:100%;
  /* border:  2px solid burlywood; */
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card{
  width: 25%;
  margin: 10px;
  background-color: white;
  border: 2px solid  rgb(139, 108, 108);
}

.cardImage{
  width: 100%;
  height: 200px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  text-shadow: 1px -2px 3px orange;
  /* color: cyan;
  text-shadow: 4px -2px  blueviolet;
  text-shadow: -4px 2px  blueviolet; */

}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (min-width: 450px) and (max-width: 800px) {
  
  h1 {
    font-size: 2em;
    line-height: 1.1;
    text-align: center;
  }
  .card {
    margin: 0px auto;
    margin-bottom: 10px;
    width: 48%;   
    /* border: 3px solid brown; */
  }
  }


@media (min-width: 200px) and (max-width: 450px) {
  h1 {
    font-size: 1.3em;
    line-height: 1.1;
    text-align: center;
  }
  .card {
    margin: 0px auto;
    margin-bottom: 10px;
    width: 90%;   
  }
  }

 

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .card{
    width: 95%;
  }
  
  button {
    background-color: #f9f9f9;
  }
} */
